<%= link_to 'Upload new image', new_image_path %>

<div class="row">
  <% @images.each do |image| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag image.image.url(:show) %>
          <span class="card-title"><%= image.name %></span>
        </div>
        <div class="card-content">
          <%= truncate image.description, length: 100 %>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
